
body {
    background: white url("images/bgk.jpg") no-repeat center;
    font-family: Helvetica;
    font-size: 1.4em;
}

li, form {
    background: rgba(255,255,255,0.95);
    display: block;
    width: 40%;
    margin: 20px auto;
    text-align: center;
    padding: 30px;
}

li a {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
}